// ### pug/components/conf_main.pug

- var templ = true;

mixin selectBox(txt)
    - var s = 0;
    select
        while (s < 6)
            option= (typeof txt === 'string') ? (txt + ' #' + s) : (s + 1)
            - s++;

mixin build_options(arr)
    each o, oi in arr
        option(x-text)

.configurator__main
    .configurator__row
        .configurator__icon
            img(src=require('media/system/config_cpu.png'))
        .configurator__label Процессор
        .configurator__controls
            if (templ)
                .configurator__cell
                    select(x-model="preset.CPU.id" id='preset_CPU_id' @change=" $nextTick(() => { updateSelect('CPU'); updatePreset(); }); ")
                        template(x-for="(item, index) in optionsList('CPU')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
                .configurator__cell.__multiply
                    select(x-model="preset.CPU.count" id="preset_CPU_count" @change=" updatePreset() ")
                        template(x-for="item in optionsCount('CPU')" :key="item" x-if="true")
                            option(x-text='item' :value='item')
            else
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')
                .configurator__cell.__multiply
                    +selectBox(1)

    .configurator__row
        .configurator__icon
            img(src=require('media/system/config_ram.png'))
        .configurator__label Оперативная память
        .configurator__controls
            if (templ)
                .configurator__cell
                    select(x-model="preset.RAM.id" id='preset_RAM_id' @change=" $nextTick(() => { updateSelect('RAM'); updatePreset(); }); ")
                        template(x-for="(item, index) in optionsList('RAM')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
                .configurator__cell.__multiply
                    select(x-model="preset.RAM.count" id="preset_RAM_count" @change=" updatePreset() ")
                        template(x-for="item in optionsCount('RAM')" :key="item" x-if="true")
                            option(x-text='item' :value='item')
            else
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')
                .configurator__cell.__multiply
                    +selectBox(1)

    .configurator__row
        .configurator__icon
            img(src=require('media/system/config_raid.png'))
        .configurator__label Raid контроллер
        .configurator__controls
            if (templ)
                .configurator__cell
                    select(x-model="preset.RAID.id" id='preset_RAID_id' @change=" $nextTick(() => { updateSelect('RAID', 1); updatePreset(1); }); ")
                        template(x-for="(item, index) in optionsList('RAID')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
            else
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    .configurator__row
        .configurator__icon
            img(src=require('media/system/config_ssd.png'))
        .configurator__label Жесткие диски

        - var ssd = ['SATA', 'SAS', 'SSD']
        each d in ssd
            .configurator__label= d
            +loop_while(3)
                .configurator__controls
                    .configurator__cell
                        +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')
                    .configurator__cell.__multiply
                        +selectBox(1)

    .configurator__row
        .configurator__icon
            img(src=require('media/system/config_other.png'))
        .configurator__label Прочие контроллеры X2
        if (templ)
            .configurator__controls
                .configurator__cell
                    select(x-model="preset.OtherContr.id" id='preset_OtherContr_id' @change=" $nextTick(() => { updateSelect('OtherContr', 1); updatePreset(1); }); ")
                        template(x-for="(item, index) in optionsList('OtherContr')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
        else
            +loop_while(2)
                .configurator__controls
                    .configurator__cell
                        +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    .configurator__row
        .configurator__icon
            img(src=require('media/system/config_misc.png'))
        .configurator__label Прочие компоненты
        .configurator__controls
            if (templ)
                .configurator__cell
                    select(x-model="preset.Other.id" id='preset_Other_id' @change=" $nextTick(() => { updateSelect('Other', 1); updatePreset(1); }); ")
                        template(x-for="(item, index) in optionsList('Other')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
            else
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    .configurator__row
        .configurator__icon
            img(src=require('media/system/config_soft.png'))
        .configurator__label Программное обеспечение
        .configurator__controls
            if (templ)
                .configurator__cell
                    select(x-model="preset.Soft.id" id='preset_Soft_id' @change=" $nextTick(() => { updateSelect('Soft', 1); updatePreset(1); }); ")
                        template(x-for="(item, index) in optionsList('Soft')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
            else
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    .configurator__row
        .configurator__icon
            img(src=require('media/system/config_ups.png'))
        .configurator__label ИБП
        .configurator__controls
            if (templ)
                .configurator__cell
                    select(x-model="preset.UPS.id" id='preset_UPS_id' @change=" $nextTick(() => { updateSelect('UPS', 1); updatePreset(1); }); ")
                        template(x-for="(item, index) in optionsList('UPS')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
            else
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    .configurator__row
        .configurator__icon
            img(src=require('media/system/config_switch.png'))
        .configurator__label Коммутаторы
        .configurator__controls
            if (templ)
                .configurator__cell
                    select(x-model="preset.Switch.id" id='preset_Switch_id' @change=" $nextTick(() => { updateSelect('Switch', 1); updatePreset(1); }); ")
                        template(x-for="(item, index) in optionsList('Switch')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
            else
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    .configurator__row
        .configurator__icon
            img(src=require('media/system/config_service.png'))
        .configurator__label Сервисное обслуживание
        .configurator__controls
            if (templ)
                .configurator__cell
                    select(x-model="preset.Services.id" id='preset_Services_id' @change=" $nextTick(() => { updateSelect('Services', 1); updatePreset(1); }); ")
                        template(x-for="(item, index) in optionsList('Services')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
            else
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    .configurator__total
        .configurator__total-info Корзина на 4 SAS/SATA 3,5” диска с возможностью горячей замены / Для установки дисков SAS требуется RAID-контроллер / Полноразмерный слот PCI-E /  Одинарный блок питания 350Вт / Поддержка одного процессора Intel® Xeon®  E3-1200 v6 и Core i3 / 4 сокета DDR4 Unbuffered ECC / 2 порта Gigabit Ethernet /  Встроенный IPMI.
        .configurator__total-price
            .configurator__total-label Сумма
            .configurator__total-val(x-text='"$" + preset.totalPriceD') $1,596
            .configurator__total-val(x-text='preset.totalPriceR + " ₽"') 132 945 ₽


// pug/components/conf_main.pug ###
