// ### pug/components/conf_main.pug

- var templ = true;

mixin selectBox(txt)
    - var s = 0;
    select
        while (s < 6)
            option= (typeof txt === 'string') ? (txt + ' #' + s) : (s + 1)
            - s++;

mixin build_options(arr)
    each o, oi in arr
        option(x-text)

div
    template(x-if=" preset.loaded && preset.hasOwnProperty('CPU') "  ): .configurator__row
        .configurator__icon
            img(src=require('media/system/config_cpu.png'))
        .configurator__label Процессор
        .configurator__controls
            if (templ)
                - var d = 'CPU';
                .configurator__cell(data-preset=d data-index='0')
                    - var ref = "'select_" + d + "_' + index + '_value'";
                    input.input_hidden(@input=" updatePreset() " x-model="preset." + d + ".id" name="preset_" + d + "_id" data-index='0' data-preset=d )
                    +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', name: '" + ("preset_CPU_") + "', placeholder: 'Выберите из списка' })", d)

                .configurator__cell.__multiply(:class="{ __disabled: " + "!preset." + d + ".id.length" + " }" data-preset=(d + '_count') data-index='0')
                    input.input_hidden(value='1' @input=" updatePreset() " x-model="preset." + d + ".count" name="preset_" + d + "_count" data-index='0' data-preset=(d + '_count') )
                    .configurator__cell-rm(@click=" removeItem('" + d + "', $event.target.dataset.index) " data-index='0') x
                    +select("alpineSelect({ data: ()=> configuratorAlpine().selectOptionCount('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + ("preset." + d + ".id") + "', placeholder: 'Выберите из списка' })", "preset." + d + ".count", "preset." + d + ".id")

                //-.configurator__cell
                    select(x-model="preset.CPU.id" id='preset_CPU_id' @change!=" $nextTick(() => { updateSelect('CPU'); updatePreset(); }); ")
                        template(x-for="(item, index) in optionsList('CPU')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
                //-.configurator__cell.__multiply
                    .configurator__cell-rm(@click=" removeItem('CPU') ") x
                    select(x-model="preset.CPU.count" id="preset_CPU_count" @change=" updatePreset() ")
                        template(x-for="item in optionsCount('CPU')" :key="item" x-if="true")
                            option(x-text='item' :value='item')
            else
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')
                .configurator__cell.__multiply
                    .configurator__cell-rm x
                    +selectBox(1)

    template(x-if=" preset.loaded && preset.hasOwnProperty('RAM') "): .configurator__row
        .configurator__icon
            img(src=require('media/system/config_ram.png'))
        .configurator__label Оперативная память
        .configurator__controls
            if (templ)
                - var d = 'RAM';
                .configurator__cell(data-preset=d data-index='0')
                    - var ref = "'select_" + d + "_' + index + '_value'";
                    input.input_hidden(@input=" updatePreset() " x-model="preset." + d +".id" name="preset_" + d + "_id" data-index='0' data-preset=d )
                    +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', name: '" + ("preset_CPU_") + "', placeholder: 'Выберите из списка' })", d)

                .configurator__cell.__multiply( :class="{ __disabled: " + "!preset." + d + ".id.length" + " }" data-preset=(d + '_count') data-index='0')
                    input.input_hidden(value='1' @input=" updatePreset() " x-model="preset." + d + ".count" name="preset_" + d + "_count" data-index='0' data-preset=(d + '_count'))
                    .configurator__cell-rm(@click=" removeItem('" + d + "', $event.target.dataset.index) " data-index='0') x
                    +select("alpineSelect({ data: ()=> configuratorAlpine().selectOptionCount('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + ("preset." + d + ".id") + "', placeholder: 'Выберите из списка' })", "preset." + d + ".count", " !item.id.length ")

                //-.configurator__cell
                    select(x-model="preset.RAM.id" id='preset_RAM_id' @change!=" $nextTick(() => { updateSelect('RAM'); updatePreset(); }); ")
                        template(x-for="(item, index) in optionsList('RAM')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
                //-.configurator__cell.__multiply
                    .configurator__cell-rm(@click=" removeItem('RAM') ") x
                    select(x-model="preset.RAM.count" id="preset_RAM_count" @change=" updatePreset() ")
                        template(x-for="item in optionsCount('RAM')" :key="item" x-if="true")
                            option(x-text='item' :value='item')
            else
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')
                .configurator__cell.__multiply
                    .configurator__cell-rm x
                    +selectBox(1)

    template(x-if=" preset.loaded && preset.hasOwnProperty('RAID') "): .configurator__row
        .configurator__icon
            img(src=require('media/system/config_raid.png'))
        .configurator__label Raid контроллер
        .configurator__controls
            if (templ)
                - var d = 'RAID';
                .configurator__cell(data-preset=d data-index='0')
                    - var ref = "'select_" + d + "_' + index + '_value'";
                    input.input_hidden(@input=" updatePreset() " x-model="preset." + d + ".id" name="preset_" + d + "_id" data-index='0' data-preset=d )
                    +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', name: '" + ("preset." + d + ".id") + "', placeholder: 'Выберите из списка' })", d)

                //-.configurator__cell
                    select(x-model="preset.RAID.id" id='preset_RAID_id' @change!=" $nextTick(() => { updateSelect('RAID', 1); updatePreset(); }); ")
                        template(x-for="(item, index) in optionsList('RAID')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
            else
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    //-if (templ)
        template(x-if=" preset.hddList.length "): .configurator__row
            .configurator__icon
                img(src=require('media/system/config_ssd.png'))
            .configurator__label Жесткие диски
            .configurator__warn(x-show=" preset.hddList.length > 4 " x-cloak) Дополнительные компоненты будут поставлены отдельно

            template(x-if=" preset.loaded " x-for=" (hdd, id) in preset.hddList ")
                .configurator__label(x-text=" hdd.name ")
                template(x-for="(item, index, collection) in getParamList(hdd.name)" :key="item" x-if="true")
                    .configurator__controls()
                        .configurator__cell(data-preset=d :data-index=' index ')
                            //- var ref = "collection[index]";
                            //- var ref = "preset." + d + '.list[0]';
                            //- p(x-html=' "#" + index + " __ " + collection.length + "#" ')
                            input.input_hidden(@input=" updatePreset() " x-model=" collection[index].id " :name="'preset_' + hdd.name + '_list_' + index + '_id'" :data-index=' index ' data-preset=d )
                            +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption(hdd.name), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + ("preset_" + d + "_") + "', placeholder: 'Выберите из списка' })", 'd')

                        //-.configurator__cell.__multiply( :class="{ __disabled: " + "!preset." + d + ".id.length" + " }" data-preset=(d + '_count') :data-index=' index ')
                            //-p(x-text=' item.id.length ')
                            input.input_hidden(@input=" updatePreset() " x-model=" collection[index].count " :name="'preset_' + hdd.name + '_list_' + index + '_count'" :data-index=' index ' data-preset=(d + '_count'))
                            .configurator__cell-rm(@click=" removeItem('" + d + "', $event.target.dataset.index) " :data-index=' index ') x
                            +select("alpineSelect({ data: ()=> configuratorAlpine().selectOptionCount(hdd.name), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + ("preset_" + d + "_") + "', placeholder: 'Выберите из списка' })", 'd', " !item.id.length ")


    template(x-if=" preset.hasOwnProperty('SATA') || preset.hasOwnProperty('SAS') || preset.hasOwnProperty('SSD') "): .configurator__row
        .configurator__icon
            img(src=require('media/system/config_ssd.png'))
        .configurator__label Жесткие диски
        .configurator__warn(x-show=" preset.hddCount > 4 " x-cloak='') Дополнительные компоненты будут поставлены отдельно

        - var ssd = ['SATA', 'SAS', 'SSD']
        each d, si in ssd
            template(x-if=" preset.loaded && preset.hasOwnProperty('" + d + "') " x-cloak): div
                .configurator__label= d
                if (templ)
                    template(x-for="(item, index, collection) in getParamList('" + d + "')" :key="item" x-if="true")
                        .configurator__controls()
                            .configurator__cell(data-preset=d :data-index=' index ' :class= (si === 1 ? "{ __disabled: !preset.RAID.id.length" + " }" : null))
                                //- var ref = "collection[index]";
                                //- var ref = "preset." + d + '.list[0]';
                                //- p(x-html=' "#" + index + " __ " + collection.length + "#" ')
                                input.input_hidden(@input=" updatePreset() " x-model=" collection[index].id " :name="'preset_" + d + "_list_' + index + '_id'" :data-index=' index ' data-preset=d )
                                +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + (" collection[index].id ") + "', placeholder: 'Выберите из списка' })", " collection[index].id ")

                            .configurator__cell.__multiply( :class="{ __disabled: " + "!collection[index].id.length" + " }" data-preset=(d + '_count') :data-index=' index ')
                                //-p(x-text=' item.id.length ')
                                input.input_hidden(@input=" updatePreset() " x-model=" collection[index].count " :name="'preset_" + d + "_list_' + index + '_count'" :data-index=' index ' data-preset=(d + '_count'))
                                .configurator__cell-rm(  @click=" removeItem('" + d + "', $event.target.dataset.index) " :data-index=' index ') x
                                +select("alpineSelect({ data: ()=> configuratorAlpine().selectOptionCount('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + (" collection[index].count ") + "', placeholder: 'Выберите из списка' })", d, " !collection[index].id.length ")

                else
                    +loop_while(3)
                        .configurator__controls
                            .configurator__cell
                                +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')
                            .configurator__cell.__multiply
                                .configurator__cell-rm x
                                +selectBox(1)

    template(x-if=" preset.loaded && preset.hasOwnProperty('OtherContr') "): .configurator__row
        .configurator__icon
            img(src=require('media/system/config_other.png'))
        .configurator__label Прочие контроллеры X2
        if (templ)
            - var d = 'OtherContr';
            template(x-for="(item, index, collection) in getParamList('" + d + "')" :key="item" x-if="true")
                .configurator__controls()
                    .configurator__cell(data-preset=d :data-index=' index ')
                        //- var ref = "collection[index]";
                        //- var ref = "preset." + d + '.list[0]';
                        //- p(x-html=' "#" + index + " __ " + collection.length + "#" ')
                        input.input_hidden(@input=" updatePreset() " x-model=" collection[index].id " :name="'preset_" + d + "_list_' + index + '_id'" :data-index=' index ' data-preset=d )
                        +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + (" collection[index].id ") + "', placeholder: 'Выберите из списка' })", " collection[index].id ")

                //-.configurator__controls()
                    .configurator__cell.__wide(data-preset=d :data-index=' index ')
                        //- var ref = "collection[index]";
                        //- var ref = "preset." + d + '.list[0]';
                        //- p(x-html=' "#" + index + " __ " + collection.length + "#" ')
                        input.input_hidden(@input=" updatePreset() " x-model=" collection[index].id " :name="'preset_" + d + "_list_' + index + '_id'" :data-index=' index ' data-preset=d )
                        +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + (" collection[index].id ") + "', placeholder: 'Выберите из списка' })", " collection[index].id ")

                    .configurator__cell.__remove( :class="{ __disabled: " + "!collection[index].id.length" + " }" data-preset=(d + '_count') :data-index=' index ')
                        .configurator__cell-rm(  @click=" removeItem('" + d + "', $event.target.dataset.index) " :data-index=' index ') x

            //-.configurator__cell(data-preset=d data-index='0')
                - var ref = "'select_" + d + "_' + index + '_value'";
                input.input_hidden(@input=" updatePreset() " x-model="preset." + d + ".id" name="preset_" + d + "_id" data-index='0' data-preset=d )
                +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', name: '" + ("preset_CPU_") + "', placeholder: 'Выберите из списка' })", d)

            //-.configurator__controls
                .configurator__cell
                    select(x-model="preset.OtherContr.id" id='preset_OtherContr_id' @change!=" $nextTick(() => { updateSelect('OtherContr', 1); updatePreset(); }); ")
                        template(x-for="(item, index) in optionsList('OtherContr')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
        else
            +loop_while(2)
                .configurator__controls
                    .configurator__cell
                        +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    template(x-if=" preset.loaded && preset.hasOwnProperty('Other') "): .configurator__row
        .configurator__icon
            img(src=require('media/system/config_misc.png'))
        .configurator__label Прочие компоненты
        if (templ)
            - var d = 'Other';
            //-template(x-for="(item, index, collection) in getParamList('" + d + "')" :key="item" x-if="true")
                .configurator__controls()
                    .configurator__cell(data-preset=d :data-index=' index ')
                        //- var ref = "collection[index]";
                        //- var ref = "preset." + d + '.list[0]';
                        //- p(x-html=' "#" + index + " __ " + collection.length + "#" ')
                        input.input_hidden(@input=" updatePreset() " x-model=" collection[index].id " :name="'preset_" + d + "_list_' + index + '_id'" :data-index=' index ' data-preset=d )
                        +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + (" collection[index].id ") + "', placeholder: 'Выберите из списка' })", " collection[index].id ")

                    //-.configurator__cell.__remove( :class="{ __disabled: " + "!collection[index].id.length" + " }" data-preset=(d + '_count') :data-index=' index ')
                        .configurator__cell-rm(  @click=" removeItem('" + d + "', $event.target.dataset.index) " :data-index=' index ') x

            .configurator__controls()
                .configurator__cell(data-preset=d data-index='0')
                    - var ref = "'select_" + d + "_' + index + '_value'";
                    input.input_hidden(@input=" updatePreset() " x-model="preset." + d + ".id" name="preset_" + d + "_id" data-index='0' data-preset=d )
                    +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', name: '" + ("preset_CPU_") + "', placeholder: 'Выберите из списка' })", d)

                //-.configurator__cell
                    select(x-model="preset.Other.id" id='preset_Other_id' @change!=" $nextTick(() => { updateSelect('Other', 1); updatePreset(); }); ")
                        template(x-for="(item, index) in optionsList('Other')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
        else
            .configurator__controls()
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    template(x-if=" preset.loaded && preset.hasOwnProperty('Soft') "): .configurator__row
        .configurator__icon
            img(src=require('media/system/config_soft.png'))
        .configurator__label Программное обеспечение
        if (templ)
            - var d = 'Soft';
            template(x-for="(item, index, collection) in getParamList('" + d + "')" :key="item" x-if="true")
                .configurator__controls()
                    .configurator__cell(data-preset=d :data-index=' index ' :class=  "{ __disabled: !preset.CPU.id.length" + " }" )
                        //- var ref = "collection[index]";
                        //- var ref = "preset." + d + '.list[0]';
                        //- p(x-html=' "#" + index + " __ " + collection.length + "#" ')
                        input.input_hidden(@input=" updatePreset() " x-model=" collection[index].id " :name="'preset_" + d + "_list_' + index + '_id'" :data-index=' index ' data-preset=d )
                        +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + (" collection[index].id ") + "', placeholder: 'Выберите из списка' })", " collection[index].id ")

            //-.configurator__cell(data-preset=d data-index='0')
                - var ref = "'select_" + d + "_' + index + '_value'";
                input.input_hidden(@input=" updatePreset() " x-model="preset." + d + ".id" name="preset_" + d + "_id" data-index='0' data-preset=d )
                +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', name: '" + ("preset_CPU_") + "', placeholder: 'Выберите из списка' })", d)

            //-.configurator__cell
                select(x-model="preset.Soft.id" id='preset_Soft_id' @change!=" $nextTick(() => { updateSelect('Soft', 1); updatePreset(); }); ")
                    template(x-for="(item, index) in optionsList('Soft')" :key="item.id" x-if="true")
                        option(x-text='item.text' :value='item.id')
        else
            .configurator__controls
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    template(x-if=" preset.loaded && preset.hasOwnProperty('UPS') "): .configurator__row
        .configurator__icon
            img(src=require('media/system/config_ups.png'))
        .configurator__label ИБП

        if (templ)
            - var d = 'UPS';
            template(x-for="(item, index, collection) in getParamList('" + d + "')" :key="item" x-if="true")
                .configurator__controls()
                    .configurator__cell(data-preset=d :data-index=' index ')
                        //- var ref = "collection[index]";
                        //- var ref = "preset." + d + '.list[0]';
                        //- p(x-html=' "#" + index + " __ " + collection.length + "#" ')
                        input.input_hidden(@input=" updatePreset() " x-model=" collection[index].id " :name="'preset_" + d + "_list_' + index + '_id'" :data-index=' index ' data-preset=d )
                        +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + (" collection[index].id ") + "', placeholder: 'Выберите из списка' })", " collection[index].id ")

                //-.configurator__cell(data-preset=d data-index='0')
                    - var ref = "'select_" + d + "_' + index + '_value'";
                    input.input_hidden(@input=" updatePreset() " x-model="preset." + d + ".id" name="preset_" + d + "_id" data-index='0' data-preset=d )
                    +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', name: '" + ("preset_CPU_") + "', placeholder: 'Выберите из списка' })", d)

                //-.configurator__cell
                    select(x-model="preset.UPS.id" id='preset_UPS_id' @change!=" $nextTick(() => { updateSelect('UPS', 1); updatePreset(); }); ")
                        template(x-for="(item, index) in optionsList('UPS')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
        else
            .configurator__controls
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    template(x-if=" preset.loaded && preset.hasOwnProperty('Switch') "): .configurator__row
        .configurator__icon
            img(src=require('media/system/config_switch.png'))
        .configurator__label Коммутаторы
        if (templ)
            - var d = 'Switch';
            template(x-for="(item, index, collection) in getParamList('" + d + "')" :key="item" x-if="true")
                .configurator__controls()
                    .configurator__cell(data-preset=d :data-index=' index ')
                        //- var ref = "collection[index]";
                        //- var ref = "preset." + d + '.list[0]';
                        //- p(x-html=' "#" + index + " __ " + collection.length + "#" ')
                        input.input_hidden(@input=" updatePreset() " x-model=" collection[index].id " :name="'preset_" + d + "_list_' + index + '_id'" :data-index=' index ' data-preset=d )
                        +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', model: '" + (" collection[index].id ") + "', placeholder: 'Выберите из списка' })", " collection[index].id ")

            //-.configurator__cell(data-preset=d data-index='0')
                - var ref = "'select_" + d + "_' + index + '_value'";
                input.input_hidden(@input=" updatePreset() " x-model="preset." + d + ".id" name="preset_" + d + "_id" data-index='0' data-preset=d )
                +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', name: '" + ("preset_CPU_") + "', placeholder: 'Выберите из списка' })", d)

                //-.configurator__cell
                    select(x-model="preset.Switch.id" id='preset_Switch_id' @change!=" $nextTick(() => { updateSelect('Switch', 1); updatePreset(); }); ")
                        template(x-for="(item, index) in optionsList('Switch')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
        else
            .configurator__controls
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    //-template(x-if=" preset.loaded && preset.hasOwnProperty('Services') "): .configurator__row
        .configurator__icon
            img(src=require('media/system/config_service.png'))
        .configurator__label Сервисное обслуживание
        .configurator__controls
            if (templ)
                - var d = 'Services';
                .configurator__cell(data-preset=d data-index='0')
                    - var ref = "'select_" + d + "_' + index + '_value'";
                    input.input_hidden(@input=" updatePreset() " x-model="preset." + d + ".id" name="preset_" + d + "_id" data-index='0' data-preset=d )
                    +select("alpineSelect({ data: ()=> configuratorAlpine().selectOption('" + d + "'), emptyOptionsMessage: 'Нет подходящих вариантов', name: '" + ("preset_CPU_") + "', placeholder: 'Выберите из списка' })", d)

                //-.configurator__cell
                    select(x-model="preset.Services.id" id='preset_Services_id' @change!=" $nextTick(() => { updateSelect('Services', 1); updatePreset(); }); ")
                        template(x-for="(item, index) in optionsList('Services')" :key="item.id" x-if="true")
                            option(x-text='item.text' :value='item.id')
            else
                .configurator__cell
                    +selectBox('Intel® Xeon® 4 Core 4T E3-1220v6 3000/8M')

    #stuck_wrapper(x-cloak): #total_box.configurator__total-sticky: .configurator__total
        //-.configurator__total-info(x-html='preset.totalDescription')
        //- Корзина на 4 SAS/SATA 3,5” диска с возможностью горячей замены / Для установки дисков SAS требуется RAID-контроллер / Полноразмерный слот PCI-E /  Одинарный блок питания 350Вт / Поддержка одного процессора Intel® Xeon®  E3-1200 v6 и Core i3 / 4 сокета DDR4 Unbuffered ECC / 2 порта Gigabit Ethernet /  Встроенный IPMI.

        .configurator__cell
            span.btn.scrollTo(data-target='configurator__form') Получить предложение

        .configurator__share.tablet-hidden
            p: a(href='#') Нашли дешевле?
            p: a(href='#') Сделаем скидку!

        .configurator__counter
            span.configurator__counter-btn.__plus.btn(@click="updateCounter($event, 1)") +
            .configurator__counter-value: input#item_count(type='number' min='1' x-model="preset.itemCount")
            span.configurator__counter-btn.__minus.btn(@click="updateCounter($event, -1)") -

        .configurator__total-price
            .configurator__total-label Цена
            .configurator__total-val(x-text='"$" + preset.totalPriceD') $1,596
            .configurator__total-val(x-text='preset.totalPriceR + " ₽"') 132 945 ₽

        .configurator__total-price
            .configurator__total-label Сумма
            .configurator__total-val(x-text='"$" + preset.totalPriceItemsD') $1,596
            .configurator__total-val(x-text='preset.totalPriceItemsR + " ₽"') 132 945 ₽

// pug/components/conf_main.pug ###
